.TOY_logo{
    font-family: 'Indie Flower', cursive;
}

.TOY_footer_menu{
    font-size: .6rem;
}

.TOY_footer{
    text-align: center;
    margin-top: 2rem;
}

.TOY_header{
    text-align: center;
    margin: 2rem 0;
}