.TOY_logo{
    font-family: 'Indie Flower', cursive;
}

.TOY_footer_menu{
    font-size: .9rem;
}

.TOY_footer{
    text-align: center;
    margin-top: 2rem;
}

.TOY_header{
    text-align: center;
    margin: 2rem 0;
}


@media screen and (max-width:500px) {
    html {
        font-size: 13px;
    }
}

a{
    color: #000000;
    text-decoration: none;
}
a:hover{
    color: #000000;
    text-decoration: none;
}

.header_menu{
    margin: 0 0.8rem;
}

.header_menu_var{
    margin: 1rem 0;
}